<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        <title>DatFacts</title>
        <link rel="icon" href="../static/images/favicon.ico">

        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/custom.css">
    </head>
    <body>
        <div class="center">
            {% block content %}{% endblock %}
        </div>

        <br>
        <!-- FOOTER -->
        <footer class="footer">
            <div class="container">
                <p class="text-muted">Site by Benji</p>
            </div>
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    </body>
</html>